<div class="view-container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <h2 class= "text-center">Your review has been submitted, thank you !</h2>
      </div>
    </div>
  </div>
</div>
