<p> Hi <%= @customer_name %> </p>

<p> We are sending a survey to all our customers to see how satisfied they are
  with our service in order to improve it </p>

<p> You will find our questions on <%= link_to "this link", new_answer_url(@url_params) %></p>

<p> Thank you for helping us improve our product ! </p>
